<h2>Rediger profil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "Navn" %><br>
    <%= f.text_field :name, autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label "Stilling/uddannelse" %><br>
    <%= f.text_field :occupation %>
  </div>

  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.email_field :email%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Nyt password" %> <i>(udfyld kun hvis du vil ændre den)</i><br />
    <%= f.password_field :password %>
    <% if @minimum_password_length %>
      <br />
      <em>Mindst <%= @minimum_password_length %> tegn</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Nyt password igen" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Nuværende password" %> <i>(Skal udfyldes for at gemme ændringerne)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Opdater" %>
  </div>
<% end %>

<h3>Slet min konto</h3>

<p><%= button_to "Slet min konto", registration_path(resource_name), data: { confirm: "Er du sikker?" }, method: :delete %></p>

<%= link_to "Tilbage", :back %>
