body {
	/* bottom padding to prevent content from being overlapped by the footer*/
	padding-bottom: 70px;
}

.center {
	margin: 0 auto;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding-top: 10px;
}

.footer-link {
  margin: 0 5px 0 5px;
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

/* Make the question links a little larger */
.question-index {
  color: #444;
}


/* spacing between profile form fields */
.field { 
  padding-bottom: 20px; }