<p>Du kan få et nyt password ved at klikke på det her link:</p>

<p><%= link_to 'Få et nyt password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Hvis du ikke har anmodet om ændringen, så ignorer denne e-mail.</p>
<p>Dit password bliver ikke ændret, medmindre du redigerer det via det ovenstående link.</p>
